@model Booking

<form method="post">
    <input hidden asp-for="DestinationId"/>
    <div class="container ">
        <div class="border rounded bg-light p-4 mb-3 mt-2">
            <h1 class="text-primary p-2 text-center">@Model.Destination.Name</h1>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <img src="@Model.Destination.ImageUrl" class="img-fluid rounded" alt="@Model.Destination.Name">
                </div>
                <div class="col-md-6">
                    <p><strong> Opis </strong> <br />
                        @Model.Destination.Description
                    </p>
                    <p> <strong>Smestaj:</strong> @Model.Destination.Hotel</p>
                    <p> <strong>Cena:</strong> @Model.Destination.Price €</p>
                    <p><strong>Datum polaska:</strong> @Model.Destination.Date1.ToShortDateString()</p>
                    <p><strong>Datum povratka:</strong> @Model.Destination.Date2.ToShortDateString()</p>

                    <div class="input-group mb-4">
                        <span class="input-group-text bg-primary text-white border-1 fw-semibold"
                              id="inputGroup-sizing-default">
                            Broj ljudi
                        </span>
                        <input asp-for="NumberOfPeople" type="number" value="1" class="form-control text-end"
                               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />
                    </div>
                    
                </div>
                 <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-6 pb-1">
                        <a class="btn btn-secondary form-control " style="height:50px;" asp-action="Index">Nazad</a>
                    </div>
                    <div class="col-12 col-md-6 pb-1">
                        <button type="submit" value="Rezervisi" class="btn btn-primary form-control" style="height:50px;">Dodaj u korpu</button>
                    </div>
                </div>
            </div>
            </div>
            
        </div>
        
    </div>
</form>
