

<div id="carouselExampleCaptions" class="carousel slide" style="height: 450px; overflow: hidden;">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/category/3.jpg" class="d-block w-100" alt="...">
            
        </div>
        <div class="carousel-item">
            <img src="~/images/category/1.jpg" class="d-block w-100" alt="...">
            
        </div>
        <div class="carousel-item">
            <img src="~/images/category/6.jpg" class="d-block w-100" alt="...">
           
        </div>
        <div class="carousel-item">
            <img src="~/images/category/4.jpg" class="d-block w-100" alt="...">
            
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Back</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h1 class="text-primary text-center">
    Putovanja
</h1>
<p class=" text-center">
    Zamislite sebe kako šetate kroz slikovite uličice starog grada u Parizu, osećajući miris sveže pečenih kroasana dok se spuštate ka obali Sene. Ili možda sanjarite o proživljavanju mističnih trenutaka ispod moćnih rimskih ruševina, gde prošlost i sadašnjost se ukrštaju na svakom koraku. U našem širokom spektru ponuda, svaka destinacija 
    je priča za sebe, čekajući da je ispričate sa svakim korakom koji napravite.
</p>
<div class="row row-cols-1 row-cols-md-3 mt-4 g-4 pb-3" style=" margin-bottom: 20px;">
  
    @foreach (var destination in Model)
    {

        <div class="col">
            <div class="card border-0 shadow">
                <img src="@destination.ImageUrl" class="card-img-top rounded" style="height: 200px; object-fit: cover;" alt="@destination.Name">
                <div class="card-body">
                    <h4 class="card-title text-center">@destination.Name</h4>
                    <h6 class="card-title text-center"> Polazak @destination.Date1.ToShortDateString()</h6>
                    <h5 class="card-title text-primary text-center"> Cena <b>@destination.Price</b> € </h5>
                </div>
                <div>
                    <a asp-action="Details" 
                    asp-route-destinationId="@destination.Id"
                    class="btn btn-primary bg-gradient border-0 form-control">
                        Procitaj vise
                    </a>
                </div>
            </div>
        </div>
        
    }

</div>
